@font-face {
	font-family: lxgw-wenkai;
	src: url("/fonts/LXGWWenKai-Regular.ttf") format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: lxgw-wenkai;
	src: url("/fonts/LXGWWenKai-Bold.ttf") format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: lxgw-wenkai;
	src: url("/fonts/LXGWWenKai-Light.ttf") format('truetype');
	font-weight: light;
}

@font-face {
	font-family: lxgw-wenkai-mono;
	src: url("/fonts/LXGWWenKaiMono-Regular.ttf") format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: lxgw-wenkai-mono;
	src: url("/fonts/LXGWWenKaiMono-Bold.ttf") format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: lxgw-wenkai-mono;
	src: url("/fonts/LXGWWenKaiMono-Light.ttf") format('truetype');
	font-weight: light;
}

@font-face {
	font-family: fz-bingnan-youyi;
	src: url("/fonts/FZBNYYT.ttf") format('truetype');
}

body {
	background-color: rgb(245, 221, 155);
}

/*
 * “fy”即是方言的拼音缩写。
 */
div.fy-ebook {
	all: inherit;
}

p.fy-title {
	margin: 0.5em 5px 0em 5px;
	text-align: center;
	font-size: 36pt;
	color: rgb(10, 10, 10);
	font-family: lxgw-wenkai-mono;
	font-weight: bold;
}

p.fy-sub-title {
	margin: 0.5em 5px 0em 5px;
	text-align: center;
	font-size: 24pt;
	color: rgb(10, 10, 10);
	font-family: lxgw-wenkai-mono;
	font-weight: bold;
}

p.fy-book-info {
	margin: 0.5em 5px 0em 5px;
	text-align: center;
	font-size: 12pt;
	color: rgb(90, 90, 90);
	font-family: lxgw-wenkai-mono;
}

p.fy-text {
	margin: 0.5em 5px 0em 5px;
	text-align: left;
	text-indent: 2em;
	font-size: 13pt;
	color: rgb(10, 10, 10);
	font-family: lxgw-wenkai-mono;
	font-weight: bold;
}

p.fy-sign-off {
	margin: 0.5em 5px 0em 5px;
	text-align: right;
	text-indent: 0em;
	font-size: 13pt;
	color: rgb(10, 10, 10);
	font-family: lxgw-wenkai-mono;
	font-weight: bold;
}

p.os-bottom-info {
	margin: 2px;
	text-align: center;
	font-size: 9pt;
	color: rgb(0, 0, 0);
	font-family: sans-serif;
}